<!DOCTYPE html>
<html lang=en>
  <head>
    <title>
      {% block title %}
        Django 1.11
      {% endblock %}
    </title>
    {% include 'snippets/css.html' %}
  </head>
    <body>
      <div class='container'>
        <div class='row heading-container'>
          <div class="col-sm-12">
            <h1>Django 1.11 (POC)</h1>
          </div>
          <div class="col-sm-12">
            {% include 'snippets/nav.html' %}
          </div>
        </div>
        <hr style="border-top:2px solid rgba(0,0,0,.1);"/>
        <div class='pag-container'>
          {% block content %}
            <h2><u>A small description about this poc:</u></h2>
          {% endblock content%}
        </div>
    </div>
    {% include 'snippets/js.html' %}
    </body>
</html>
