<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
  .container{
    margin-top: 20px;
  }
  .heading-container{
    text-align: center;
  }
  .nav{
    display: inline-flex;
  }
  .nav-link.active{
    background: #cfdde8;
    border-radius: 4px;
  }
  .pag-container{
    margin-top: 100px;
  }
  .search-form{
    display: flex;
  }
  .search-form input{
    width:90%;
    min-height: 37px;
  }
  .search-form .search-button{
    width:9 %;
    margin-left: 9px;
  }
  .search-form .clear-button{
    margin-left: 5px;
  }
</style>
<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" /> -->
