{% extends "base.html" %}
  {% block title %}
    School List | {{block.super}}
  {% endblock %}
  {% block content %}
      <h1>My Schools <small style="font-size:15px;"><a href='{% url "schools:create" %}'>Add New</a></small></h1>

    <ul>
      {% if school %}
        {% for sch in school %}
          <li>
            <!-- <a href='{% url "schools:detail" slug=sch.slug %}'>{{ sch.name }}</a> -->
            <a href='{{ sch.get_absolute_url }}'>{{ sch.name }}</a>
            <br/>
            {{sch.name}} {{sch.location}} {{sch.timestamp}} {{sch.updatedAt}}</li>
        {% endfor %}
      {% else %}
        <li><a href='{% url "schools:create" %}'>Add One</a></li>
      {% endif %}
    </ul>
  {% endblock %}
